<header class="topheader">
    <span><i class="fa fa-search" aria-hidden="true"></i> Where in the world is Ayam Goreng?</span>
</header>
<nav class="topnav">
    <div class="topnav-container">
        <a class="topnav-button-side" onclick="toggleNav()">
            <span>&#9776;</span>
        </a>
        <a href="#news" class="home-icon">
            <i class="fa fa-home home-bar" aria-hidden="true"></i>
        </a>
        <a href="#news" class="home-link">
            <span>Game</span>
        </a>
        <a href="#news" class="nav-arrow">
            <span>></span>
        </a>
        <a href="#news" class="nav-page">
            <span>pageTitle</span>
        </a>
        <i class="fa fa-battery-full battery-bar" aria-hidden="true"></i>
    </div>
</nav>