body {
    margin: 0;
    font-family: Arial;
}

nav, main, footer {
    transition: margin-left .5s;
}

html, body {
    height:100%;
    background-color:#020202;
}

h1, h2 {
    color:#fff;
    text-shadow: 0px 0px 15px #afa;
}

.scrollbar-gray::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: transparent;
}

.scrollbar-gray::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
}

.scrollbar-gray::-webkit-scrollbar-thumb
{
	border-radius: 15px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.2);
	background-color:transparent;
}

.clear {
    clear:both;
}

@media only screen and (min-width: 1301px) {
    .footer-tark-css, .footer-page, .topnav, .topheader {
        margin-left:250px;
    }
    .sidenav {
        width:250px!important;
    }
    .sidenav .closebtn {
        display:none;
    }
    .topnav-button-side {
        display:none;
    }
}

@media only screen and (max-width: 1300px) {
    .footer-tark-css, .footer-page, .topnav, .topheader  {
        margin-left:0px;
    }
    .sidenav {
        width:0px;
    }
    .sidenav .closebtn {
        display:block;
    }
    .topnav-button-side {
        display:block;
    }
}

@keyframes shadowBright {
    from {
        text-shadow: 0px 0px 3px white;
    }
    to {
        text-shadow: 0px 0px 10px white;
    }
}